html, body
    {
        height: 100%;
    }
h1{
    text-align: center;
    border:3px solid yellow
}
label{

    color:red;
    display: block;
    width: 5em
}
a
{
    color: orange
}
body
{
    background-image:url('../img/Ciel_bleu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
input
{
    margin-bottom: 1em;
    display: block;
}

section {
    margin: 20em 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 2em;
}
nav a{

    border: 2px solid #bda5a5 ;
    padding: 0.3em;

}
