html, body
    {
        height: 100%;
    }
h1{
    text-align: center;
    border:3px solid yellow
}
label{

    color:red;
    display: inline-block;
    width: 5em
}
a
{
    color: orange
}
body
{
    background-image:url('../img/Ciel_bleu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
label
{
    margin-right:10em
    text-align :auto:right;
ul
{

}
