html, body
    {
        height: 100%;
    }


h1{
    text-align: center;
    border:5px solid yellow
}
label{
    text-align: right;
    color:red;
}
a
{
    color: orange
}
body
{
    background-image:url('../img/baobab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
}
label
{
    margin-right:3em
    text-align last:auto;right:
}
